{
  "extends": ["plugin:@web-bee-ru/base", "plugin:@web-bee-ru/react"],
  "rules": {
    "unicorn/filename-case": ["off"],
    "no-console": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error"
  }
}
