body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.layoutflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.layoutflow > div {
  z-index: -1 !important;
}

.react-flow__node{
  border-radius: 3px;
  padding: 10px;
  text-transform: capitalize;
}
.react-flow__node.selectable:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.50);
}

.react-flow__node-default{
  border: 1px solid blue;
}

.react-flow__node-input{
  border: 2px solid #FF00FF;
}

.react-flow__handle:hover{
  background-color: #575452;
}
